@import "./base.css";

.card {
  background: var(--card-bg);
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem 0.3rem 2.5rem 0.3rem;
  padding: 0.5rem;
  min-width: 400px;
}

.inputs-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.input-item {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.input-title {
  font-size: 0.25rem;
  color: var(--text-muted);
  letter-spacing: 1px;
  text-transform: uppercase;
}

input {
  background-color: transparent;
  border: 1px solid var(--border);
  padding: 8px;
  width: 2.5rem;
  border-radius: 5px;
  font-weight: 900;
}

.middle-container {
  display: flex;
  align-items: center;
}

.horizontal-line {
  background-color: var(--border);
  height: 1px;
  flex: 1 1 auto;
}

.but {
  background: var(--primary);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.but:hover {
  background-color: var(--black);
}

.result-container {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 800;
}

.result > i {
  color: var(--primary);
}

.error-message {
  font-size: 10px;
  font-weight: normal;
  color: var(--red-400);
  width: 2.5rem;
}

.red {
  color: var(--red-400) !important;
}

.red-border {
  border: 1px solid var(--red-400) !important;
}
